*{
	font-family: arial;
}

body{
	padding: 0;
	margin: 0;
}

/* Cabecera */

.header{
	padding: 30px;
	background-color: #111;
	color: #fff;
	text-align: center;
	font-size: 30px;
	font-weight: bold;

}

.menu{
	padding: 10px;
	background: #111;

}


.menu a{
	text-decoration: none;
	color: #fff;
	background-color: #111;

}

.menu a:hover{
	background: #000;
}


/* Cuerpo */

.cuerpo{
	background: #eaeaea;
	padding: 30px;
	min-height: 500px;

}


/* Login */


.centrarLogin{
	width: 40%;
	text-align: center;
	padding-top: 100px;
}




/* Pie Página */
.footer{
	background-color: #000;
	color: #aaa;
	text-align: center;
	font-size: 10px;
	padding: 50px;
}